.body {
    font-family: 'Heebo', serif;
    color:#2671e8;
    font-size: 700;
    font-weight: bold;
  }



  .body1{
    font-family: 'Heebo', serif;
    color: #202020;
    font-size: 400;
    // font-weight: 400;
  }